//- This is a modification of code from https://github.com/nicothin/NTH-start-project/
//- Все примеси в этом файле должны начинаться c имени блока (radio-button)
mixin stateful-input(labelText, mods)

  //- Принимает:
        mods {string} — список модификаторов
        labelText {string} — текст для label'а кнопки

  //- Вызов:
        +stateful-input('Мужчина') — stateful-input с текстом мужчина
  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' stateful-input_' + modsList[i].trim();
      }
    }

  .stateful-input(class=allMods)
    label.stateful-input__label(for!=attributes.id)
      input.stateful-input__input&attributes(attributes)
      span.stateful-input__text= labelText

//- +radio-button('Мужчина')
      (id='registration-box-sex-man'
      type='radio'
      name='registration-box-sex'
      value='man'
      checked)

//- .toggle.regisration-box__item
//-   label.toggle__label(for='toggle-mailing')
//-     input.toggle__input(id='toggle-mailing' type='checkbox' name='mailing' value='on')
//-     span.toggle__text Получать спецпредложения

//- .permission-form__checkbox
//-   label.permission-form__label(for='checkbox-smoke')
//-     input.permission-form__input(id='checkbox-smoke' type='checkbox' name='permission' value='smoke')
//-     span.permission-form__text можно курить

//- .like-button
//-   input.like-button__input(id='toggle-like' type='checkbox' name='like' value='on' checked)
