.calculation-box
  .calculation-box__row
    h2.calculation-box__title Регистрация аккаунта

  form.calculation-box__form(method='get' name='calculation-box-form' autocomplete='on')
    .calculation-box__row
      .calculation-box__item
        +input-field(
          type='text'
          name='fname'
          id='calculation-box-fname'
          placeholder='Имя'
          maxlength='25'
          autocomplete='given-name'
          spellcheck='true'
          required
        )
      .calculation-box__item
        +input-field(
          type='text'
          name='lname'
          id='calculation-box-lname'
          placeholder='Фамилия'
          maxlength='25'
          autocomplete='family-name'
          spellcheck='true'
          required
        )
      .calculation-box__item
        +stateful-input('Мужчина')(
          id='calculation-box-sex-man'
          type='radio'
          name='calculation-box-sex'
          value='man'
          checked
        )
        +stateful-input('Женщина')(
          id='calculation-box-sex-woman'
          type='radio'
          name='calculation-box-sex'
          value='woman'
        )

    .calculation-box__row
      .calculation-box__item
        //- set up cleave.js lib for compatibility with autocomplete or use smth else
        +input-field('', '', 'Дата рождения')(
          class='js-input-masked-date'
          type='text'
          name='bday'
          placeholder='ДД.ММ.ГГГГ'
          maxlength='10'
          autocomplete='bday'
        )

    .calculation-box__row
      .calculation-box__item
        span.calculation-box__input-text Данные для входа в сервис
        +input-field(
          type='email'
          name='email'
          id='calculation-box-email'
          placeholder='Email'
          maxlength='24'
          autocomplete='email'
          spellcheck='false'
          required
        )
      .calculation-box__item
        +input-field(
          type='password'
          name='password'
          id='calculation-box-password'
          placeholder='Пароль'
          maxlength='20'
          autocomplete='new-password'
          spellcheck='false'
          required
        )
      .calculation-box__item
        +stateful-input('Получать спецпредложения', 'type_toggle')(
          id='calculation-box-mailing'
          type='checkbox'
          name='calculation-box-mailing'
          value='on'
        )

    .calculation-box__row
      .calculation-box__item
        +button('Перейти к оплате', 'full-width')

    .calculation-box__row
      .calculation-box__item
        .calculation-box__alternate-entry
          p.calculation-box__text Уже есть аккаунт на Toxin?
          +button('Войти', 'secondary')(href='change-me')
