.search-box
  .search-box__inner
    .search-box__row
      h2.search-box__title Найдем номера под ваши пожелания

    form(name='search-box-form' autocomplete='off')
      .search-box__row
        +datepicker('search-box')

      .search-box__row
        span.search-box__input-text Гости
        +dropdown({
          optionNames: ['Взрослые', 'Дети', 'Младенцы'],
          hasButtonPane: true
        })(
          type='text'
          name='guests'
          id='search-box-guests-input'
          placeholder='Сколько гостей'
          maxlength='10'
          required
        )

      .search-box__row
        +button('Подобрать номер', 'full-width')(href="../../../src/markup/pages/search-room.pug")
