//- take into account footer's nav (with several sections) and simple lists (lists without nav)
nav.topline-nav
  h2.topline-nav__semantic-title main navigation

  ul.topline-nav__list
    li.topline-nav__item
      a(
        href='../../../src/markup/pages/index.pug'
        class='topline-nav__link topline-nav__link_active'
      ) Главная
    li.topline-nav__item
      a(
        href='change-me'
        class='topline-nav__link'
      ) О нас
    li.topline-nav__item.topline-nav__item_expandable
      a(
        href='change-me'
        class='topline-nav__link'
      )
        | Услуги
        i(class='material-icons topline-nav__link-icon' aria-hidden='true')
          | expand_more
    li.topline-nav__item
      a(
        href='change-me'
        class='topline-nav__link'
      ) Вакансии
    li.topline-nav__item
      a(
        href='change-me'
        class='topline-nav__link'
      ) Новости
    li.topline-nav__item.topline-nav__item_expandable
      a(
        href='change-me'
        class='topline-nav__link'
      )
        | Соглашения
        i(class='material-icons topline-nav__link-icon' aria-hidden='true')
          | expand_more
