.comment
  .comment__head
    +media('Мурад Сарафанов', '5 дней назад')
      img(class='comment__avatar' src='../../images/man.png' alt='commentator\'s avatar' width='48')
  .comment__body
    .comment__button
      +stateful-input(
        'like button',
        'type_like-button'
      )(
        id='like-button'
        type='checkbox'
        name='like'
        value='on'
      )

    .comment__content
      p.comment__text
        | Великолепный матрас на&nbsp;кровати в&nbsp;основной спальне!
        | А&nbsp;пуфик вообще потрясающий. И&nbsp;стены, действительно,
        | шумоподавляющие. Выкрикивал комплименты повару&nbsp;&mdash;
        | никто не&nbsp;жаловался из&nbsp;соседей.

.comment
  .comment__head
    +media('Патрисия Стёклышкова', 'неделю назад')
      img(class='comment__avatar' src='../../images/girl.png' alt='commentator\'s avatar' width='48')
  .comment__body
    .comment__button
      +stateful-input(
        'like button',
        'type_like-button'
      )(
        id='like-button'
        type='checkbox'
        name='like'
        value='on'
      )

    .comment__content
      p.comment__text
        | Обслуживание на&nbsp;высоте! Всё аккуратно, чисто.
        | Завтраки в&nbsp;номер советую заказать,
        | каждый день новое блюдо и&nbsp;десерт как комплимент
