.checkbox-dropdown#facilities-additional-dropdown
  label.checkbox-dropdown__label(for='checkbox-dropdown')
    span.checkbox-dropdown__text Дополнительные удобства
    input.checkbox-dropdown__input(id='checkbox-dropdown' type='checkbox' name='checkbox-dropdown')

  .checkbox-dropdown__body
    fieldset.checkbox-dropdown__fieldset
      +checkbox('Завтрак')(
        name='extra-facilities'
        value='breakfast'
      )
      +checkbox('Письменный стол')(
        name='extra-facilities'
        value='desk'
      )
      +checkbox('Стул для кормления')(
        name='extra-facilities'
        value='feeding_chair'
      )
      +checkbox('Телевизор')(
        name='extra-facilities'
        value='TV'
      )
      +checkbox('Шампунь')(
        name='extra-facilities'
        value='shampoo'
      )
