nav.footer-nav
  .footer-nav__inner
    h2.footer-nav__semantic-title footer navigation

    section.section.footer-nav__section.footer-nav__section_for_navigation
      h3.section__title.footer-nav__title Навигация

      ul.list.footer-nav__list
        li.list__item.footer-nav__item
          a(
            href='change-me'
            class='list__link footer-nav__link'
          ) О&nbsp;нас
        li.list__item.footer-nav__item
          a(
            href='change-me'
            class='list__link footer-nav__link'
          ) Новости
        li.list__item.footer-nav__item
          a(
            href='change-me'
            class='list__link footer-nav__link'
          ) Служба поддержки
        li.list__item.footer-nav__item
          a(
            href='change-me'
            class='list__link footer-nav__link'
          ) Услуги

    section.section.footer-nav__section.footer-nav__section_for_about-us
      h3.section__title.footer-nav__title О&nbsp;нас

      ul.list.footer-nav__list
        li.list__item.footer-nav__item
          a(
            href='change-me'
            class='list__link footer-nav__link'
          ) О&nbsp;сервисе
        li.list__item.footer-nav__item
          a(
            href='change-me'
            class='list__link footer-nav__link'
          ) Наша команда
        li.list__item.footer-nav__item
          a(
            href='change-me'
            class='list__link footer-nav__link'
          ) Вакансии
        li.list__item.footer-nav__item
          a(
            href='change-me'
            class='list__link footer-nav__link'
          ) Инвесторы

    section.section.footer-nav__section.footer-nav__section_for_support
      h3.section__title.footer-nav__title Служба поддержки

      ul.list.footer-nav__list
        li.list__item.footer-nav__item
          a(
            href='change-me'
            class='list__link footer-nav__link'
          ) Соглашения
        li.list__item.footer-nav__item
          a(
            href='change-me'
            class='list__link footer-nav__link'
          ) Сообщества
        li.list__item.footer-nav__item
          a(
            href='change-me'
            class='list__link footer-nav__link'
          ) Связь с&nbsp;нами
