-
  var userName = 'cosmin negoita';

.entrance
  .entrance__item.entrance__item_is-active
    +button('Войти', 'secondary')(
      href='/sign-in'
      class='entrance__button'
    )
    +button('Зарегистрироваться', 'main')(
      href='/registration'
      class='entrance__button entrance__button_main'
    )
  .entrance__item
    .entrance__username
      span.entrance__username-text= userName
