-
  var userName = 'cosmin negoita';

.entrance
  .entrance__item.entrance__item_is-active
    .entrance__button-group
      .entrance__button-wrapper
        +button('Войти', 'secondary')(
          href='./sign-in.pug'
          class='entrance__button'
        )
      .entrance__button-wrapper
        +button('Зарегистрироваться', 'main')(
          href='./registration.pug'
          class='entrance__button entrance__button_main'
        )
  .entrance__item
    .entrance__username-wrapper
      span.entrance__username= userName
