.socials
  .socials__inner
    ul.socials__list
      li.socials__item
        a(
          class='socials__link'
          href='change-me'
          target='_blank'
          title='twitter'
          aria-label='twitter'
        )
          span(
            class='socials__icon socials__icon_tw'
            aria-hidden='true'
          )
      li.socials__item
        a(
          class='socials__link'
          href='change-me'
          target='_blank'
          title='facebook'
          aria-label='facebook'
        )
          span(
            class='socials__icon socials__icon_fb'
            aria-hidden='true'
          )
      li.socials__item
        a(
          class='socials__link'
          href='change-me'
          target='_blank'
          title='instagram'
          aria-label='instagram'
        )
          span(
            class='socials__icon socials__icon_ig'
            aria-hidden='true'
          )
