.socials
  .socials__inner
    ul.socials__list
      li.socials__item
        a(
          class='socials__link'
          href='change-me'
          target='_blank'
          title='twitter'
          aria-label='twitter'
        )
          svg(class="socials__icon" width="24" height="24" alt="twitter")
            use(href="../../blocks/common.blocks/socials/images/socials__icon_tw.svg")

      li.socials__item
        a(
          class='socials__link'
          href='change-me'
          target='_blank'
          title='facebook'
          aria-label='facebook'
        )
          svg(class="socials__icon" width="24" height="24" alt="facebook")
            use(href="../../blocks/common.blocks/socials/images/socials__icon_fb.svg")

      li.socials__item
        a(
          class='socials__link'
          href='change-me'
          target='_blank'
          title='instagram'
          aria-label='instagram'
        )
          svg(class="socials__icon" width="24" height="24" alt="instagram")
            use(href="../../blocks/common.blocks/socials/images/socials__icon_ig.svg")

